# Fixes sleep/wakeup issues on Gigabyte motherboards.
# https://wiki.archlinux.org/title/Power_management/Wakeup_triggers#Gigabyte_motherboards
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="pcieport", ATTR{power/wakeup}="disabled"
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x1022", ATTR{device}=="0x1483", ATTR{power/wakeup}="disabled"
